<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Taskable</Data></Cell>
        <Cell><Data ss:Type="String">Type</Data></Cell>
        <Cell><Data ss:Type="String">Avancement taskable</Data></Cell>
        <Cell><Data ss:Type="String">Tâche</Data></Cell>
        <Cell><Data ss:Type="String">Avancement tâche</Data></Cell>
        <Cell><Data ss:Type="String">Echéance</Data></Cell>
      </Row>
    <% @tasks.each do |task| %>
      <Row>
        <Cell><Data ss:Type="String"><%= task.taskable.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= task.taskable.class.t %></Data></Cell>
        <Cell><Data ss:Type="String"><%= percentage(task.taskable.try(:progress)) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= task.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= percentage(task.progress) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= l(task.term) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
